.idea/
.settings
.buildpath
.project
/error.log
/access.log
/dev
/var
/privatesales
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE_AFL.txt
/LICENSE_EE.txt
/LICENSE_EE.html
/LICENSE.html
/LICENSE.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt
/downloader
/errors
/pkginfo
/shell
/includes
/lib
/media
/js
/skin
/app/*
!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Omni_AjaxAddToCart.xml
!/app/code
/app/code/*
!/app/code/community
/app/code/community/*
!/app/code/community/Omni
/app/code/community/Omni/*
!/app/code/community/Omni/AjaxAddToCart
