.idea/
.settings
.buildpath
.project
/error.log
/access.log
/dev
/var
/privatesales
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE_AFL.txt
/LICENSE_EE.txt
/LICENSE_EE.html
/LICENSE.html
/LICENSE.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt
/downloader
/errors
/pkginfo
/shell
/includes
/lib
/media
/js
/skin/*
!/skin/frontend
/skin/frontend/*
!/skin/frontend/base
/skin/frontend/base/*
!/skin/frontend/base/default
/skin/frontend/base/default/*
!/skin/frontend/base/default/js
/skin/frontend/base/default/js/*
!/skin/frontend/base/default/js/omni
/skin/frontend/base/default/js/omni/*
!/skin/frontend/base/default/js/omni/ajax_add_to_cart.js
!/skin/frontend/base/default/css
/skin/frontend/base/default/css/*
!/skin/frontend/base/default/css/omni
/skin/frontend/base/default/css/omni/*
!/skin/frontend/base/default/css/omni/loader.css
/app/*
!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Omni_AjaxAddToCart.xml
!/app/code
/app/code/*
!/app/code/community
/app/code/community/*
!/app/code/community/Omni
/app/code/community/Omni/*
!/app/code/community/Omni/AjaxAddToCart
!/app/locale
/app/locale/*
!/app/locale/en_US
/app/locale/en_US/*
!/app/locale/en_US/Omni_AjaxAddToCart.csv
!/app/design
/app/design/*
!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/base
/app/design/frontend/base/*
!/app/design/frontend/base/default
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/omni
/app/design/frontend/base/default/layout/omni/*
!/app/design/frontend/base/default/layout/omni/ajax_add_to_cart.xml
!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/omni
/app/design/frontend/base/default/template/omni/*
!/app/design/frontend/base/default/template/omni/loader.phtml
